<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/commandes/style.css">
    <link rel="shourtcut icon" type="text/css" href="/commandes/images/OIP.jpg">
    <title>Resto, application de gestion de restaurant</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/commandes/images/OIP.jpg" alt="logo">
            <h1>EM-Resto App</h1>
            <img src="/commandes/images/menu (1).png" alt="" id="menu_burger">
            <img src="/commandes/images/close (1).png" alt="" id="close_menu">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#">Les Commandes</a></li>
            </ul>
        </div>
        <div class="navbar_responsive" id="responsive">
            <ul>
                <li><a href="#">Les Commandes</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="titre_panier">
        <h1>Les Commandes</h1>
    </div>

    <div class="card_commande">

        

        <% if (commandeAdmin.length > 0) { %>
        <% 
            commandeAdmin.forEach(commande => { %>
                
                <div class="card" >
                    <h2>Nom : <%= commande.nom %></h2><br><hr><br>
                    <h2>Prenom : <%= commande.prenom %></h2><br><hr><br>
                    <h2>Email : <%= commande.email %></h2><br><hr><br>
                    <h2>Telephone : <%= commande.telephone %></h2><br><hr><br>
                    <h2>Menu : <%= commande.menu %></h2><br><hr><br>
                    <h2>Prix : <%= commande.prix %></h2><br><hr><br>
                    <h2>Date : <%= commande.createdAt %></h2><br>
                    <form action="/resto/panier" method="post">
                        <input type="hidden" name="menu" value="<%= commande.menu %>">
                        <input type="hidden" name="prix" value="<%= commande.prix %>">
                        <input type="hidden" name="telephone" value="<%= commande.telephone %>">
                        <input type="hidden" name="email" value="<%= commande.email %>">

                        <input type="submit" value="Valider">
                    </form>
                </div>


        <%    }) %>
        <% } %>

        <% if (commandeAdmin.length === 0) { %>
            <h2 class="vide">Aucune commande n'a été effectuée.</h2>
        <% } %>

    </div>


    <script src="/panier/script.js"></script>
</body>
</html>