<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/commandes/style.css">
    <link rel="shourtcut icon" type="text/css" href="/commandes/images/OIP.jpg">
    <title>Resto, application de gestion de restaurant</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/commandes/images/OIP.jpg" alt="logo">
            <h1>EM-Resto App</h1>
            <img src="/commandes/images/menu (1).png" alt="" id="menu_burger">
            <img src="/commandes/images/close (1).png" alt="" id="close_menu">
        </div>
    </nav>
    
    <div class="titre_panier">
        <h1>Les Commandes</h1>
    </div>

    <div class="card_commande">

        

        <% if (commandeAdmin.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Menu</th>
                        <th>Prix</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% commandeAdmin.forEach(commande => { %>
                        <tr>
                            <td><%= commande.nom %></td>
                            <td><%= commande.prenom %></td>
                            <td><%= commande.email %></td>
                            <td><%= commande.telephone %></td>
                            <td><%= commande.menu %></td>
                            <td><%= commande.prix %></td>
                            <td><%= commande.createdAt %></td>
                            <td>
                                <form action="/resto/panier" method="post" style="display:inline;">
                                    <input type="hidden" name="access_key" value="0b811f26-8555-4101-aae2-65787e01e78b">
                                    <input type="hidden" name="menu" value="<%= commande.menu %>">
                                    <input type="hidden" name="prix" value="<%= commande.prix %>">
                                    <input type="hidden" name="telephone" value="<%= commande.telephone %>">
                                    <input type="hidden" name="email" value="<%= commande.email %>">
                                    <input type="submit" value="Valider">
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <h2 class="vide">Aucune commande n'a été effectuée.</h2>
        <% } %>

        </div>


    <script src="/panier/script.js"></script>
</body>
</html>